body{
    max-width: 13000;
    margin: 0 aouto;
    background-color: #12486B;
}

.quizcon{
 width:600px;

 margin: auto;
 background-color: #fff;
border-radius: 20px;
margin-top: 40px;
}
.title{
    text-align: center;
    color: #419197;
   font-size: 50px;
    padding-top: 50px;
}
h2{
    font-size: 30px;
    color: #12486B;
    margin: auto;
    padding-left: 25px;
    padding-top: 10px;
}
.quesarea{
    
    background-color: #fff;
    color: #12486B;
    border: 2px solid #12486B;
    margin:0 20px;
    border-radius: 10px;
}

li{
    border: 2px solid #EEEEEE;
    margin-left: -15px;
   list-style: none;
   margin-right: 25px;
   font-size: 20px;
   padding: 10px;
   border-radius: 10px;
   margin-top: 5px;
   margin-bottom: 10px;

}
button{
    height: 55px;
    width:380px;
    background-color: #419197;
    color: #fff;
    font-size: 30px;
    border: none;
    margin-left: 96px;
    margin-top:10px;
    border-radius: 10px;
margin-bottom: 10px;

}

p{
    text-align: right;
    font-size: xx-large;
    color: #12486B;
    margin-right: 25px;
    margin-bottom: 10px;
}